@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&family=Montserrat&display=swap");
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat";
}
h1,
h2,
h3,
h4,
p,
div,
li,
a {
  font-weight: 500 !important;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Meduim */

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */
/* Start Variables */
:root {
  --main-color: #00c7fc;
  --text-color: #707070;
}
/* End Variables */
/* Start Header */
nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
}
nav > a .logo {
  width: 150px;
  height: 60px;
}
nav ul {
  height: 64px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
nav ul li {
  margin: auto 20px;
}
nav ul li a {
  text-decoration: none;
  color: var(--text-color);
  text-transform: uppercase;
  font-size: 13px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
nav ul li:first-child a {
  color: var(--main-color);
}
nav ul li a:hover {
  color: var(--main-color);
}
nav .icon {
  float: right;
  line-height: 80px;
  margin-right: 20px;
  display: none;
}
nav .icon i {
  cursor: pointer;
  color: var(--text-color);
  font-size: 23px;
  transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  -moz-transition: 0.3s all ease;
  -ms-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
}
nav i:hover {
  color: var(--main-color);
}
#check {
  display: none;
}
@media (max-width: 768px) {
  nav {
    position: fixed;
    z-index: 500;
    height: 60px;
    background-color: white;
  }
  nav .icon {
    display: block;
  }
  nav ul {
    display: block;
    z-index: 200;
    position: fixed;
    width: 100%;
    height: 100vh;
    left: -100%;
    background-color: black;
    text-align: center;
    margin-top: 60px;
    margin-right: 20px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -o-transition: 0.5s all;
  }
  nav ul li {
    display: block;
    width: fit-content;
    margin: 50px auto;
  }
  nav ul li:first-child a {
    color: var(--text-color);
  }
  nav ul li:first-child a:hover {
    color: var(--main-color);
  }
  #check:checked ~ ul {
    left: 0;
  }
}
/* End Header */
/* Start Landing */
.landing .content {
  width: 100%;
  position: relative;
}
.landing .content::before {
  content: "";
  background-color: #0000008f;
  width: 100%;
  height: calc(100% - 5px);
  position: absolute;
}
.landing .content img {
  width: 100%;
  height: auto;
}
.landing .content .text {
  position: absolute;
  left: 50%;
  top: 50%;
  color: white;
  text-align: center;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.landing .content .text button {
  color: white;
  width: 200px;
  height: 60px;
  font-size: 15px;
  letter-spacing: 3px;
  cursor: pointer;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
.landing .content .text button:first-of-type {
  background: transparent;
  border: 1px solid white;
  margin-right: 20px;
}
.landing .content .text button:last-of-type {
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
}
@media (max-width: 850px) {
  .landing .content .text h1 {
    font-size: 20px;
  }
  .landing .content .text button {
    width: 150px;
    height: 45px;
    font-size: 11px;
  }
  .landing .content .text p {
    font-size: 12px;
  }
}
@media (max-width: 649px) {
  .landing .content .text button {
    margin-bottom: 20px;
    margin-right: 0px !important;
  }
}
@media (max-width: 500px) {
  .landing .content .text h1 {
    font-size: 13px;
  }
  .landing .content .text p {
    font-size: 9px;
  }
  .landing .content .text button {
    margin-bottom: 10px;
    letter-spacing: 1px;
    width: 110px;
    height: 35px;
    font-size: 10px;
  }
}
.landing .content::after {
  content: "\f0d7";
  font-family: "Font Awesome 5 Pro";
  font-weight: 300;
  font-size: 30px;
  position: absolute;
  bottom: 10px;
  z-index: 700;
  left: 50%;
  color: var(--main-color);
}
/* End Landing */
